# Example Bridge Markup


{{hand:AKQJ.T987.6543.2 label=Hand1}} {{hand:9876.5432.AKQJ.9 label=hand2}} 
{{hand:5432.AKQJ.9876.T label=hand3}} 

{{hand:My Hand ; data: T987.6.5432.AKQJ }}
{{deal:My Deal ; data: N AKxxxx.AJT.xxx.x E xx.Qxx.Kxx.QTxxx  W JT9x.x.Jxxx.KJxx S Q.K86532.AQxx.Ax }}
{{bids:My bids ; data: 1S P 2H P 3H P 4C P 5H P 6H P P P }}



West leads the J{{suit:S}}.
How do you play 6{{suit: h}} from the south seat ?

---
Analysis : Before playing to trick 1 ...
1. If trumps split 2-2 we have 12 Tricks via 6 hearts 3 spades 2 aces & {{suit:club}} ruff.
2. We may need to score 13 tricks if we are playing pairs. Setup spades or {{suit:diamond}} finesse.
3. Can we handle trumps 3:1 with {{suit:heart}} Qxx out ?
4. Can we handle Spades 4-2 and trumps 3-1 ? 

>- If trumps split we can handle spades 4-2 via a ruff. No need for a diamond finesse. We do however need to be in dummy after drawing trumps or we are an entry short.
>- We make 13 tricks with trumps 22 at pairs or teams. The problem is not a pairs problem of overtricks.
>- With trumps 3-1, 12 tricks becomes the limit. How do we maximise our chances?

We must be in dummy when trumps are 2:2 so we make 13 tricks even when Spades are 4-2.

We must also be in dummy when trumps are 3:1 to makimise our chances of 12 tricks when we have a trump loser. 

If trumps are 3-1 we need spades 3:3. Lets play it thoough to maximise our chances because, as you will see there is a further chance.

# The play
The play proceeds by winning the {{suit:s}}Q, cash {{suit:H}}K then the  {{suit:heart}}A ending in dummy.
Now comes AK{{suit:spade}} on which you discard 2 diamonds. 
Lets say this is ruffed with the trump Queen. 
You still discard a diamond BUT you cannot setup the 5th spade for a diamond discard.
However you now have a ruffing entry to dummy to .... take the diamond finesse.

This slam is very good but only if you plan the hand correctly by winning the second round of trumps in dummy. The chances 

| Left       | Success | Fail |
|:-----------|:--------|:-----|
| Trumps 2-2 | 40%     |  60%.|
| Spades 3-3 | 36%     |  64%.|
| Finesse DK | 50%     |  50%.|
| Total.     | 50%     |  80.8%.|


---
{{suit:spade}}{{suit:heart}}{{suit:diamond}}{{suit:club}}
{{suit: s}}{{suit: h}}{{suit: d}}{{suit: c}}
{{suit: s}}{{suit: h}}{{suit: d}}{{suit: c}}